<html>
<title>DynamoDB Local Tool</title>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body style="background: whitesmoke;">
    <div id="app" style="display: none;">
        <div style="float:left;">
            <div id="leftbar" style="position: absolute; top: 0; bottom: 0; width: 320px; overflow-y: scroll;">
                <ul class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" v-bind:class="{ active: table.isActive }"
                        v-for="table in tables" v-on:click="clickTable(table);">
                        <i class="fa fa-table" v-if="table.schema.Table.TableName !== &quot;&quot;"></i>
                        <span> {{table.schema.Table.TableName}}</span>
                    </a>
                </ul>
            </div>
        </div>

        <div v-if="selectedTable.headers.length > 0">
            <div id="contentdiv" style="position: absolute; left: 320px; top:0; right: 0; overflow-y: scroll;">
                <div style="margin: 20px;">
                    <h1 style="float: left;">{{selectedTable.schema.Table.TableName}}</h1>
                    <button class="btn btn-danger" style="float: left; margin: 10px;" v-on:click="deleteTable()"><i
                            class="fa fa-trash"></i> Delete</button>
                    <div style="clear: both"></div>
                    <h5><em>Only use this page for local DynamoDB development!</em></h5>
                    <h6><em>You will get a much better experience with the Amazon web console for AWS hosted DynamoDB!</em></h6>
                </div>
            </div>
            <div style="position: absolute; left: 320; top: 150; right: 20; bottom: 20;">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Schema</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                            aria-selected="false">Records</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent" style="background: white; ">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="padding: 20px;">
                        <h4>// TODO: parse this and make it pretty (or determine doing so is useless)</h4>
                        <pre style="background: whitesmoke;" >{{tableDescription}}</pre>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div style="float: left; padding: 20px;">
                            <button class="btn btn-success" v-on:click="createNewRecord()"><i class="fa fa-asterisk"></i>
                                Create new record</button>
                            <button v-if="showExpanded === false" class="btn btn-primary" v-on:click="showExpanded = true"><i
                                    class="fa fa-expand"></i> Expand
                                record content</button>
                            <button v-if="showExpanded === true" class="btn btn-primary" v-on:click="showExpanded = false">Collapse
                                record content</button>
                        </div>
                        <div style="float: right; padding: 20px; text-align: right;">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Filter</span>
                                </div>
                                <input type="text" class="form-control" style="width: 600px;" placeholder="This filter uses JavaScript eval() with the record named 'record'"
                                    v-model="filter">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" v-on:click="filterRecords()"><i
                                            class="fa fa-filter"></i> Run</button>
                                </div>
                            </div>
                            examples:
                            <code style="cursor: pointer;" v-on:click="filter = &quot;record.ContentId === \&quot;26470\&quot;&quot;">record.ContentId === "26470"</code>
                            |
                            <code style="cursor: pointer;" v-on:click="filter = &quot;record.DurationSeconds < 200&quot;">record.DurationSeconds < 200</code>
                            |
                            <code style="cursor: pointer;" v-on:click="filter = &quot;record.ManifestUrl.includes(\&quot;d78da9gi6b95g\&quot;)&quot;">record.ManifestUrl.includes("d78da9gi6b95g")</code>
                        </div>
                        <div style="position: absolute; top: 160; right: 0; bottom: 0; left: 20; overflow-y: scroll; clear: both;">
                            <table class="table table-striped table-hover">
                                <thead id="thead">
                                    <tr>
                                        <th></th>
                                        <th v-for="header in selectedTable.headers">
                                            <a href="#" style="white-space:nowrap; cursor: pointer; color: black;"
                                                v-on:click="sortTable(header)">{{header}}
                                                <i class="fa fa-sort-down" v-if="sort.direction == -1 && sort.column == header"></i>
                                                <i class="fa fa-sort-up" v-if="sort.direction == 1 && sort.column == header"></i>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    <tr v-for="record in selectedTable.filteredRecords">
                                        <td style="width: 20px;"><i class="fa fa-trash" style="color: #dc3545; cursor: pointer;"
                                                v-on:click="deleteRecord(record)"></i></td>
                                        <td v-for="arrayItem in record.array" v-if="!showExpanded">
                                            <a href="#" v-if="arrayItem.isPK" v-on:click="openItem(record)">{{arrayItem.value}}</a>
                                            <span v-else>{{arrayItem.value}}</span>
                                        </td>
                                        <td v-for="arrayItem in record.fullArray" v-else>
                                            <a href="#" v-if="arrayItem.isPK" v-on:click="openItem(record)">{{arrayItem.value}}</a>
                                            <span v-else>{{arrayItem.value}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="position: absolute; top:0; bottom: 0; left: 0; right: 0; z-index:100; background: steelblue; opacity: 0.2; margin: 0;"
            v-if="editOpen" v-on:click="editOpen = false">
        </div>
        <div style="position: absolute; top:0; bottom: 0; left: 0; right: 0; z-index:102; background: steelblue; opacity: 0.2; margin: 0;"
            v-if="overlayEverything">
        </div>
        <!-- Modal edit.update box -->
        <div style="position: absolute; left: 10%; right: 10%; top: 10%; z-index: 101; margin: 10%; background: white; border: 1px solid gray; margin: 0;"
            v-if="editOpen">
            <h1 style="margin: 20px; float:left;">{{modalTitle}}</h1>
            <button class="btn btn-success" style="float:right; margin: 20px;" v-on:click="prettyPrint()"><i class="fa fa-bath"></i>
                Clean up JSON</button>
            <div style="clear: both"></div>
            <div style="padding-right: 40px;">
                <textarea style="resize: none; background: whitesmoke; padding: 20px; border: 1px solid gray; max-height: 500px; width: 100%; margin: 20px; font-family: consolas;"
                    cols="100" rows="20" v-model="selectedTable.selectedRecord.text"></textarea>
            </div>
            <div style="margin: 20px; float: right;">
                <button class="btn btn-secondary" v-on:click="dismissModal()">Cancel</button>
                <button class="btn btn-primary" v-on:click="saveModal()"><i class="fa fa-trash"></i> Save</button>
            </div>
        </div>

        <!-- Error modal -->
        <div style="position: absolute; top:0; bottom: 0; left: 0; right: 0; z-index: 200; background: steelblue; opacity: 0.2; margin: 0;"
            v-if="errorOpen" v-on:click="errorOpen = false;">
        </div>
        <div style="position: absolute; top: 0; right:0; bottom: 0; left: 0; z-index: 201; font-size: 36px; padding: 120px; text-align: left;"
            v-if="errorOpen">
            <div style="background: white; padding: 20px; text-align: center;">
                <h1>Hmm...something went wrong.</h1>
                <h2>Here's what I found. I hope this helps!</h2>
                <img src="headshot.png">
                <p>{{errorDetail}}</p>
                <button class="btn btn-default" v-on:click="errorOpen = false">OK</button>
            </div>
        </div>
    </div>
</body>
<script src="AWSSDK.min.js"></script>
<script src="app.js"></script>

</html>