<html>
<title>DynamoDB Local Tool</title>

<head>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body style="background: whitesmoke;">
    <div id="app" style="display: none;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Local DynamoDB UI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{selectedTable.schema.Table.TableName}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#" v-on:click="unimplemented()">Create New Table</a>
                            <div class="dropdown-divider"></div>
                            <a v-for="table in tables" class="dropdown-item" v-on:click="clickTable(table);" href="#">{{table.schema.Table.TableName}}</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" v-if="selectedTable.schema.Table.TableName !== 'Select a Table'">
                    <div class="btn-group navbar-btn">
                        <input class="form-control mr-sm-2" style="width: 600px;" type="search" placeholder="This filter uses JavaScript eval() with the record named 'record'"
                            aria-label="Search" v-model="selectedTable.filter">
                        <button class="btn btn-outline-success" v-on:click="runFilter()"><i class="fa fa-filter"></i>
                            Filter Records</button>
                        <button data-toggle="dropdown" class="btn btn-outline-success dropdown-toggle"><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item" style="cursor: pointer;" v-on:click="selectedTable.filter = &quot;record.ContentId === \&quot;26470\&quot;&quot;; runFilter()">record.ContentId
                                === "26470"</li>
                            <li class="dropdown-item" style="cursor: pointer;" v-on:click="selectedTable.filter = &quot;record.DurationSeconds < 200&quot;; runFilter()">record.DurationSeconds
                                &lt; 200</li>
                            <li class="dropdown-item" style="cursor: pointer;" v-on:click="selectedTable.filter = &quot;record.ManifestUrl.includes(\&quot;d78da9gi6b95g\&quot;)&quot;; runFilter()">record.ManifestUrl.includes("d78da9gi6b95g")</li>
                        </ul>
                    </div>
                </form>
            </div>
        </nav>
        <div v-if="selectedTable.headers.length > 0">
            <div id="contentdiv" style="position: absolute; left: 0; top:60; right: 0; overflow-y: scroll;">
                <div style="margin: 20px;">
                    <h5><em>Only use this page for local DynamoDB development!</em></h5>
                    <h6><em>You will get a much better experience with the Amazon web console for AWS hosted DynamoDB!</em></h6>
                </div>
            </div>
            <div style="position: absolute; left: 20; top: 140; right: 20; bottom: 0;">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="schema-tab" data-toggle="tab" href="#schema" role="tab"
                            aria-controls="home" aria-selected="true">Schema</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="records-tab" data-toggle="tab" href="#records" role="tab" aria-controls="profile"
                            aria-selected="false">Records <span class="badge badge-secondary" style="background-color: rgb(0, 123, 255)"
                                v-if="selectedTable.filterApplied !== null" v-bind:title="'A filter is currently applied:\n\n' + selectedTable.filterApplied"><i
                                    class="fa fa-filter"></i> {{selectedTable.filteredRecords.length}} /
                                {{selectedTable.records.length}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="home">Admin</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="schema" role="tabpanel" aria-labelledby="home-tab" style="padding: 20px;">
                        <div style="position: absolute; top: 60; right: 0; bottom: 0; left: 20; overflow-y: scroll; clear: both;">
                            <h4>// TODO: parse this and make it pretty (or make a case for why doing so is useless)</h4>
                            <br>
                            <pre>{{tableDescription}}</pre>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="records" role="tabpanel" aria-labelledby="profile-tab">
                        <button class="btn btn-success" style="margin: 20px;" v-on:click="createNewRecord()"><i class="fa fa-asterisk"></i>
                            Create new record</button>
                        <span style="float:right; margin: 20px;">
                            <button class="btn btn-success" v-on:click="expandCollapseAll(false)">
                                <i class="fa fa-minus"></i> All
                            </button>
                            <button class="btn btn-success" v-on:click="expandCollapseAll(true)">
                                <i class="fa fa-plus"></i> All
                            </button>
                        </span>
                        <div style="position: absolute; top: 120; right: 0; bottom: 0; left: 20; overflow-y: scroll; clear: both;">
                            <table class="table table-striped table-hover">
                                <thead id="thead">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th v-for="header in selectedTable.headers">
                                            <a href="#" style="white-space:nowrap; cursor: pointer; color: black;"
                                                v-on:click="sortTable(header)">{{header}}
                                                <i class="fa fa-sort-down" v-if="selectedTable.sort.direction == -1 && selectedTable.sort.column == header"></i>
                                                <i class="fa fa-sort-up" v-if="selectedTable.sort.direction == 1 && selectedTable.sort.column == header"></i>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    <tr v-for="record in selectedTable.filteredRecords">
                                        <td style="width: 10px; cursor: pointer;" v-on:click="record.showExpanded = !record.showExpanded">
                                            <i v-if="!record.showExpanded" class="fa fa-angle-right"></i>
                                            <i v-else class="fa fa-angle-down"></i>
                                        </td>
                                        <td style="width: 20px; cursor: pointer;"><i class="fa fa-trash" style="color: #dc3545; cursor: pointer;"
                                                v-on:click="deleteRecord(record);"></i></td>
                                        <td v-for="arrayItem in record.array">
                                            <a href="#" v-if="arrayItem.isPK" v-on:click="openItem(record)">{{arrayItem.value[true]}}</a>
                                            <span v-else>
                                                <span v-if="arrayItem.value[true] == arrayItem.value[false]">{{arrayItem.value[true]}}</span>
                                                <span v-else>{{arrayItem.value[record.showExpanded]}}</span>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="profile-tab">
                        <button class="btn btn-danger" style="margin: 20px;" v-on:click="unimplemented()"><i class="fa fa-trash"></i>
                            Delete table</button>
                    </div>
                </div>
            </div>
        </div>

        <div style="position: absolute; top:0; bottom: 0; left: 0; right: 0; z-index:100; background: steelblue; opacity: 0.2; margin: 0;"
            v-if="editOpen" v-on:click="editOpen = false">
        </div>
        <div style="position: absolute; top:0; bottom: 0; left: 0; right: 0; z-index:102; background: steelblue; opacity: 0.2; margin: 0;"
            v-if="overlayEverything">
        </div>
        <!-- Modal edit.update box -->
        <div style="position: absolute; left: 10%; right: 10%; top: 10%; z-index: 101; margin: 10%; background: white; border: 1px solid gray; margin: 0;"
            v-if="editOpen">
            <h1 style="margin: 20px; float:left;">{{modalTitle}}</h1>
            <button class="btn btn-success" style="float:right; margin: 20px;" v-on:click="prettyPrint()"><i class="fa fa-bath"></i>
                Clean up JSON</button>
            <div style="clear: both"></div>
            <div style="padding-right: 40px;">
                <textarea style="resize: none; background: whitesmoke; padding: 20px; border: 1px solid gray; max-height: 500px; width: 100%; margin: 20px; font-family: consolas;"
                    cols="100" rows="20" v-model="selectedTable.selectedRecord.text"></textarea>
            </div>
            <div style="margin: 20px; float: right;">
                <button class="btn btn-secondary" v-on:click="dismissModal()">Cancel</button>
                <button class="btn btn-primary" v-on:click="saveModal()"><i class="fa fa-trash"></i> Save</button>
            </div>
        </div>

        <!-- Error modal -->
        <div style="position: absolute; top:0; bottom: 0; left: 0; right: 0; z-index: 200; background: steelblue; opacity: 0.2; margin: 0;"
            v-if="errorOpen" v-on:click="errorOpen = false;">
        </div>
        <div style="position: absolute; top: 0; right:0; bottom: 0; left: 0; z-index: 201; font-size: 36px; padding: 120px; text-align: left;"
            v-if="errorOpen">
            <div style="background: white; padding: 20px; text-align: center;">
                <h1>Hmm...something went wrong.</h1>
                <h2>Here's what I found. I hope this helps!</h2>
                <img src="headshot.png">
                <p>{{errorDetail}}</p>
                <button class="btn btn-default" v-on:click="errorOpen = false">OK</button>
            </div>
        </div>
    </div>
</body>
<script src="AWSSDK.min.js"></script>
<script src="app.js"></script>

</html>